<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_HOME_APP_SEARCH_DATA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_api"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.La4"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Live"
            android:exported="false" /> <!-- Settings Activity -->
        <activity
            android:name=".SettingsAct"
            android:exported="false" /> <!-- Main Launcher Activity -->
        <activity
            android:name=".MainActivity"
            android:banner="@drawable/icon_api"
            android:exported="true"
            android:icon="@drawable/icon_api"
            android:logo="@drawable/icon_api">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>